{% load bootstrap4 %}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Publicações - <b>Detalhes</b></h2></div>
                </div>
                <div class="search-box" style="position: relative; top: -20px;">
                    <a href="{% url 'authors:create' %}" class="btn btn-outline-success" >Adicionar</a>
                </div>
            </div>
            {% bootstrap_messages %}
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Titulo</th>
                        <th>Categoria</th>
                        <th>Criação</th>
                        <th>Publicado</th>
                    </tr>
                </thead>

                <tbody>
                    {% for post in post_not_published  %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td style="display:flex;">{{ post.title }}<p style="color: red; margin-left: 5px;"> (EM ANALISE !)</p></td>
                            <td>{{ post.category }}</td>
                            <td>{{ post.created_at }}</td>
                            <td ><i class="fa-solid fa-xmark" style="color: #e70404; margin-left: 25px;"></i></td>
                            <td>
                                <a href="#" class="view" title="View" data-toggle="tooltip" style="cursor: not-allowed;"><i class="material-icons">&#xE417;</i></a>
                                <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#DeleteModal" hx-get="{% url 'authors:delete' post.id %}" hx-target="#DeleteContent">
                                    <i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    {% for post in post_published  %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.category }}</td>
                            <td>{{ post.created_at }}</td>
                            <td ><i class="fa-solid fa-check fa-lg" style="color: #14ea10; margin-left: 25px;"></i></td>
                            <td>
                                <a href="{% url 'places:detail' post.id %}" target="_blank" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" title="Delete" data-toggle="modal" data-target="#DeleteModal" hx-get="{% url 'authors:delete' post.id %}" hx-target="#DeleteContent">
                                    <i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% include 'partials/content/publications_user/pagination.html' %}
        </div>
    </div>  
  </div>  