<form>
    <!-- Form Group (username)-->
    <div class="mb-3">
        <label class="small mb-1" for="inputUsername">Nome de Usuario </label>
        <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
    </div>

    <!-- Form Group (email address)-->
    <div class="mb-3">
        <label class="small mb-1" for="inputEmailAddress">Email address</label>
        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
    </div>

    <div class="row gx-3 mb-3">
        <!-- Form Group (first name)-->
        <div class="col-md-6">
            <label class="small mb-1" for="inputFirstName">Primeiro Nome</label>
            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
        </div>

        <!-- Form Group (last name)-->
        <div class="col-md-6">
            <label class="small mb-1" for="inputLastName">Ultimo Nome</label>
            <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
        </div>

        <!-- BIO-->
        <div class="col-md-6">
            <label class="small mb-1" for="inputPhone">Biografia</label>
            <input class="form-control"  type="text" placeholder="Enter your phone number" value="blablablabal">
        </div>
    </div>

    
    <!-- Save changes button-->
    <button class="btn btn-primary" type="button" style="position: relative; left: 600px;">Salvar</button>
</form>