<div class="col-xl-4">
    <!-- Profile picture card-->
    <div class="card mb-4 mb-xl-0">
        <div class="card-header">Foto de Perfil</div>
        <div class="card-body text-center">
            <!-- Profile picture image-->
            <img class="img-account-profile rounded-circle mb-2" src="{{ request.user.profile.profile_pic.url }}" width="180px" style="object-fit: cover;">
            <!-- Profile picture upload button-->
             <br>
             <br>
             <form action="#" method="POST">
                {% csrf_token %}
                 <button class="btn btn-primary" type="button">Enviar nova Foto</button>
             </form>
        </div>
    </div>
</div>