<div class="col-xl-4">
    <!-- Profile picture card-->
    <div class="card mb-4 mb-xl-0">
        <div class="card-header">Foto de Perfil</div>
        <div class="card-body text-center">
            <!-- Profile picture image-->
            <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <!-- Profile picture upload button-->
             <br>
             <br>
            <button class="btn btn-primary" type="button">Enviar nova Foto</button>
        </div>
    </div>
</div>