
{% load static %}
<link rel="icon" href="{% static 'img/image.png' %}" type="image/png">

<link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">

<link rel="stylesheet" href="{% static 'css/style.css' %}">