{% load static %}
<div class="login-form">
    <form action="{% url 'places:login' %}" method="POST" enctype="multipart/form-data" class="modal-content">
        {% csrf_token %}
        
        <h2 class="text-center">Login</h2>		
        <div class="text-center social-btn">
            <a href="#" class="btn btn-primary btn-block"><i class="fa-brands fa-facebook"></i> Entrar com <b>Facebook</b></a>
            <a href="#" class="btn btn-info btn-block"><i class="fa-brands fa-x-twitter"></i> Entrar com <b>Twitter</b></a>
			<a href="#" class="btn btn-danger btn-block"><i class="fa-brands fa-google"></i> Entrar com <b>Google</b></a>
        </div>
		<div class="or-seperator"><i>ou</i></div>

        <div class="form-group">
        	<div class="input-group">                
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <span class="fa fa-user"></span>
                    </span>                    
                </div>
                {{ form.username }}
            </div>
            
            {% if form.username.errors %}
                <p style="color: red;"> {{ form.username.errors }} </p>
            {% endif %}
        </div>

		<div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>                    
                </div>
                {{ form.password }}
            </div>
            
        </div>    

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block login-btn">Entrar</button>
        </div>
        <div class="hint-text">Ainda nao tem uma conta? 
            <a href="{% url 'authors:register_user' %}" class="text-success">
                Registrar-se!</a></div>
        
    </form>
</div>
{% include 'partials/content/modal/login_modal.html' %}