{% load static %}
<div class="col-lg-8">

    <div class="single-recent-blog-post">
      <div class="thumb">
        <img class="img-fluid" src="{% static 'img/blog/blog1.png' %}" alt="">
        <ul class="thumb-info">
          <li><a href="#"><i class="ti-user"></i>Admin</a></li>
          <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
          <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
        </ul>
      </div>
      <div class="details mt-20">
        <a href="#">
          <h3>Woman claims husband wants to name baby girl
            after his ex-lover sparking.</h3>
        </a>
        <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep said can't called second. Air created seed heaven sixth created living</p>
        <a class="button" href="{% url 'places:detail' %}">Ler Mais <i class="ti-arrow-right"></i></a>
      </div>
    </div>

    <div class="single-recent-blog-post">
      <div class="thumb">
        <img class="img-fluid" src="{% static 'img/blog/blog2.png' %}" alt="">
        <ul class="thumb-info">
          <li><a href="#"><i class="ti-user"></i>Admin</a></li>
          <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
          <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
        </ul>
      </div>
      <div class="details mt-20">
        <a href="#">
          <h3>Woman claims husband wants to name baby girl
            after his ex-lover sparking.</h3>
        </a>
        <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep said can't called second. Air created seed heaven sixth created living</p>
        <a class="button" href="#">Ler Mais <i class="ti-arrow-right"></i></a>
      </div>
    </div>

    <div class="single-recent-blog-post">
      <div class="thumb">
        <img class="img-fluid" src="{% static 'img/blog/blog3.png' %}" alt="">
        <ul class="thumb-info">
          <li><a href="#"><i class="ti-user"></i>Admin</a></li>
          <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
          <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
        </ul>
      </div>
      <div class="details mt-20">
        <a href="#">
          <h3>Tourist deaths in Costa Rica jeopardize safe dest
            ination reputation all time. </h3>
        </a>
        <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep said can't called second. Air created seed heaven sixth created living</p>
        <a class="button" href="#">Ler Mais <i class="ti-arrow-right"></i></a>
      </div>
    </div>

    <div class="single-recent-blog-post">
      <div class="thumb">
        <img class="img-fluid" src="{% static 'img/blog/blog4.png' %}" alt="">
        <ul class="thumb-info">
          <li><a href="#"><i class="ti-user"></i>Admin</a></li>
          <li><a href="#"><i class="ti-notepad"></i>January 12,2019</a></li>
          <li><a href="#"><i class="ti-themify-favicon"></i>2 Comments</a></li>
        </ul>
      </div>
      <div class="details mt-20">
        <a href="#">
          <h3>Tourist deaths in Costa Rica jeopardize safe dest
            ination reputation all time.  </h3>
        </a>
        <p class="tag-list-inline">Tag: <a href="#">travel</a>, <a href="#">life style</a>, <a href="#">technology</a>, <a href="#">fashion</a></p>
        <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep said can't called second. Air created seed heaven sixth created living</p>
        <a class="button" href="#">Ler Mais <i class="ti-arrow-right"></i></a>
      </div>
    </div>

    {% include 'partials/content/global/pagination.html' %}

  </div>