{% load static %}
<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'places:index' %}" style="font-size: 27px; font-weight: bold;">Places 
          <i class="fa-solid fa-earth-americas" style="color: #121212;"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center ">
              <li class="nav-item active"><a class="nav-link" href="{% url 'places:index' %}">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'places:pages' %}">Paginas</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'places:contact' %}">Contato</a></li>
              
              <!-- LOGADO -->
              {% if request.user.is_authenticated %}
                <div class="nav-item dropdown">
                  
                  <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="#" class="avatar" alt="">
                    {{ request.user.username }}<b class="caret"></b></a>

                  <div class="dropdown-menu" style="margin-top: -12px;">
                    <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Perfil</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Publicações</a></a>
                    <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Configurações</a></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="fa-solid fa-power-off"></i> Sair</a></a>
                  </div>
                </div>

              {% else %}
                
                <li class="nav-item">
                  <a 
                  class="nav-link" 
                  href="#" 
                  data-toggle="modal" 
                  data-target="LoginUserModal"
                  hx-get="{% url 'places:login' %}"
                  hx-target="#login_content">
                    Login
                  </a>
                </li>
             
              {% endif %}
                
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-social">
              <li><a href="https://www.linkedin.com/in/rafael-muniz-3a7285323/" target="_blank"><i class="ti-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/r4fa_mnzz/" target="_blank"><i class="ti-instagram"></i></a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>