{% load static %}
<div class="comment-form">
    {% if user.is_authenticated %}
        <h4>Deixar Comentario</h4>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Mensagem" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
            </div> 
                <button type="submit" class="button submit_btn">Enviar</button>
        </form>

        {% else %}
            <h4>Deixar Comentario <p style="color: red; font-size: small;">login nescessario!</p></h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Mensagem" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                </div> 
                <button type="button" style="cursor: not-allowed;" class="button submit_btn">Enviar</button>

            </form>
    {% endif %}

</div>
