{% extends 'global/base_places.html' %}
{% load static %}

{% block links %}
  {% include 'partials/layout/links.html' %}
{% endblock links %}

{% block title %}Sensive | Contato{% endblock title %}

  
{% block content %}
  <!--================Header Menu Area =================-->
  {% include 'partials/content/global/navbar.html' %}
  
  <!--================ Hero sm banner start =================-->  
  {% include 'partials/content/contact/banner.html' %}


  <!-- ================ contact section start ================= -->
  {% include 'partials/content/contact/contact_section.html' %}


  <!--================ Start Footer Area =================-->
  {% include 'partials/content/global/footer.html' %}

{% block script %}
  {% include 'partials/layout/scripts.html' %}
{% endblock script %}

{% endblock content %}