{% extends 'global/base_places.html' %}
{% load static %}

{% block links %}
  {% include 'partials/layout/links.html' %}
{% endblock links %}

{% block title %}Sensive | Home{% endblock title %}

  
{% block content %}
  <!--================Header Menu Area =================-->
  {% include 'partials/content/global/navbar.html' %}

  
  <main class="site-main">
    <!--================Hero Banner start =================-->  
    {% include 'partials/content/global/banner.html' %}
    

    <!--================ Blog Post Area =================-->
    {% include 'partials/content/index/post/main.html' %}
  </main>


  <!--================ Footer =================-->
  {% include 'partials/content/global/footer.html' %}


{% block script %}
  {% include 'partials/layout/scripts.html' %}
{% endblock script %}

{% endblock content %}
