{% load static %}

<form action="{% url 'authors:register_user' %}" method="POST">
    {% csrf_token %}

    <div class="user-details">
      <!-- Name -->
      <div class="input-box">
        <span class="details">Primeiro Nome</span>
        {{ form.first_name }}
        
          
      </div>

      <!-- Last Name -->
      <div class="input-box">
        <span class="details">Ultimo Nome</span>
        {{ form.last_name }}
        {% if form.last_name.errors %}
          <p class="error" style="color: red;">{{ form.last_name.errors }}</p>
        {% endif %}
      </div>

      <!-- Email -->
      <div class="input-box">
        <span class="details">Email</span>
        {{ form.email }}
        {% if form.email.errors %}
          <p class="error" style="color: red;">{{ form.email.errors }}</p>
        {% endif %}

      </div>

      <!-- User Namer -->
      <div class="input-box">
        <span class="details">Nome de Usuario</span>
        {{ form.username }}
        {% if form.username.errors %}
          <p class="error" style="color: red;">{{ form.username.errors }}</p>
        {% endif %}
      </div>

      <!-- Password -->
      <div class="input-box">
        <span class="details">Senha</span>
        {{ form.password }}
        {% if form.password.errors %}
          <p class="error" style="color: red;">{{ form.password.errors }}</p>
        {% endif %}
      </div>

      <!-- Confirm Password -->
      <div class="input-box">
        <span class="details">Confirme sua Senha</span>
        {{ form.password2 }}
        {% if form.password2.errors %}
          <p class="error" style="color: red;">{{ form.password2.errors }}</p>
        {% endif %}
      </div>
    </div>
    
    <!-- button -->
    <div class="button">
      <input type="submit" value="Cadastrar">
    </div>
  </form>