{% load static %}
<section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">

          <!-- PUBLICAÇÕES -->
          {% include 'partials/content/pages_/post/publications.html' %}
          
          
          <!-- PAGINATION  -->
          {% include 'partials/content/global/pagination.html' %}
          
        </div>

        <!-- Start Blog Post Siddebar -->
         {% include 'partials/content/pages_/post/post_siddebar.html' %}
        
          </div>
      </div>
  </section>