{% load static %}
<div class="col-lg-4 sidebar-widgets">
  <div class="widget-wrap">
      
      <!-- CATEGORIA -->
      <div class="single-sidebar-widget post-category-widget">
        <h4 class="single-sidebar-widget__title">Categorias</h4>
        
        <ul class="cat-list mt-20">
          {% for category in categories %}
            <li>
              <a href="{% url 'places:category' category.id %}" class="d-flex justify-content-between" style="text-decoration: none;">
                <p>{{ category }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>

      </div>

      <!-- PUBLICAÇÕES -->
      <div class="single-sidebar-widget popular-post-widget">
        <h4 class="single-sidebar-widget__title">Publicações Recentes</h4>
        <div class="popular-post-list">
          {% for recent in recents %}
            <div class="single-post-list">
              <div class="thumb" style="display: flex; align-items: center;">
                <img class="card-img rounded-0" src="{{ recent.image.url }}" alt="" height="180px" style="margin-right: 10px;">
                
                <ul class="thumb-info" style="list-style: none; margin: 0; padding: 0;">
                  <li>
                    <a href="#" style="white-space: nowrap;">
                      {{ recent.author.username }} | {{ recent.created_at|date:"d/m/Y" }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="details mt-20" style="position: relative; top: -16px;">
                <a href="{% url 'places:detail' recent.id %}" style="text-decoration: none;">
                  <h6 style="color: black;">{{ recent.title }}</h6>
                </a>
              </div>
            </div>
            <br>
          {% endfor %}
        </div>
      </div>

  </div>
</div>