{% load static %}
<div class="row">
  
  {% for post in posts %}
    <div class="col-md-6">
      <div class="single-recent-blog-post card-view">
        <div class="thumb">
          <img class="card-img rounded-0" src="{{ post.image.url }}" alt="" height="200">
          <ul class="thumb-info" style="position: relative; top: -35px;">
            <li><a href="#"><i class="ti-user"></i>{{ post.author.username }}</a></li>
            <li><a href="#"><i class="ti-themify-favicon"></i>{{ post.comments.count }} Comentarios</a></li>
          </ul>
        </div>
        <div class="details mt-20" style="position: relative; top: -50px;">
          <a href="{% url 'places:detail' post.id %}" style="text-decoration: none;">
            <h3 style="color: black;">{{ post.title|truncatechars:30 }}</h3>
          </a>
          <p>{{ post.description|truncatechars:150 }}</p>
          <a class="button" href="{% url 'places:detail' post.id %}">Ler mais<i class="ti-arrow-right"></i></a>
        </div>
      </div>
    </div>
  {% endfor %}
  

    
  </div>
  