{% extends 'global/base_places.html' %}
{% load static %}

{% block links %}
    {% include 'partials/layout/create_publication/links.html' %}
{% endblock links %}

{% block title %}
Publicações | Detalhes
{% endblock title %}

{% block content %}

<!--================Header Menu Area =================-->
{% include 'partials/content/global/navbar.html' %}
{% include 'partials/content/create_publication/banner.html' %}


<!--================Publications Settings =================-->
{% include 'partials/content/update_publication/update_form.html' %}



<!--================ Footer =================-->
{% include 'partials/content/global/footer.html' %}

{% block script %}
  {% include 'partials/layout/scripts.html' %}
{% endblock script %}

{% endblock content %}