{% load static %}
<div class="col-lg-4 sidebar-widgets">
  <div class="widget-wrap">
      
      <!-- CATEGORIA -->
      <div class="single-sidebar-widget post-category-widget">
        <h4 class="single-sidebar-widget__title">Categorias</h4>
        
        <ul class="cat-list mt-20">
          {% for category in categories %}
            <li>
              <a href="#" class="d-flex justify-content-between">
                <p>{{ category }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>

      </div>

      <!-- PUBLICAÇÕES -->
      <div class="single-sidebar-widget popular-post-widget">
        <h4 class="single-sidebar-widget__title">Publicações Recentes</h4>
        <div class="popular-post-list">
          {% for recent in recents %}
            <div class="single-post-list">
              <div class="thumb">
                <img class="card-img rounded-0" src="{{ recent.image.url }}" alt="">
                <ul class="thumb-info">
                  <li><a href="#">{{ recent.author.username }}</a></li>
                  <li><a href="#">{{ recent.created_at|date:"d/m/Y" }}</a></li>
                </ul>
              </div>
              <div class="details mt-20">
                <a href="{% url 'places:detail' recent.id %}">
                  <h6>{{ recent.title }}</h6>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

  </div>
</div>